<h1>Stylist Enterprise Edition</h1>

{{.Domain}}

<h3>Total Count {{.TotalCount}}</h3>

<ul>
    {{range .ThemesByCount}}
      <li>
        <a href="{{$.Domain}}/theme/{{.Theme}}">
          {{.Theme}}
        </a>
          | {{.Count}}
      </li>
    {{end}}
</ul>
